# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pklz

# Virtual environment
venv/
.env/
.venv/

# Streamlit
.streamlit/

# Jupyter / IPython
.ipynb_checkpoints/
*.ipynb

# Logs
*.log
logs/

# Uploads (user data)
uploads/

# OS-specific
.DS_Store
Thumbs.db

# VS Code / IDE settings
.vscode/
.idea/
*.swp
